.main{
  display: flex;
  height: 100%;
  .content{
    padding: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    .form, .ticker-info{
      width: 50%;
    }
    .form{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .input, .button{
        padding: 13px;
      }
      .input input{
        width: 183px;
        padding: 20px;
        height: 26px;
      }
      .button button{
        width: 128px;
        height: 36px;
      }
    }
    .ticker-info{
      padding-top: 50px;
      border-top: 1px solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      .field{
        margin-top: 10px;
        display: flex;
        label{
          margin-right: 10px;
        }
      }
      .best-exchange{
        margin-top: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 338px;
        .exchanges{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 450px;
          height: 150px;
          #exchange{
            display: flex;
            width: 200px;
            height: 200px;
            div{
              display: flex;
              align-items: center;
              margin-right: 20px;
              span{
                font-weight: 700;
                font-size: 26px;
                display: block;
              }
            }
            img{
              width: 100%;
              height: 100%; 
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

.button {
  background: #3498db;
  width: 180px;
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 3px;
  p {
    margin: 0;
   	font-family: 'Roboto'; 
	  text-align: center;
  	text-transform: uppercase;
    color: #FFF;
    user-select: none;
  }
  
  &:hover {
    cursor: pointer;
  }
  
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: darken(#f1c40f, 20%);
    opacity: 0.4;
    bottom: -30px;
  }
}

